name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Clean Cache
        run: |
          rm -rf node_modules
          rm -rf docs/.vuepress/dist
          git clean -fdx

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.19.0
          cache: 'npm'  # 关键修改点

      - name: Install dependencies
        run: |
          npm install
          chmod -R 755 node_modules

      - name: Build
        run: npm run docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PAGES_TOKEN }}
          publish_dir: docs/.vuepress/dist
          # cname: docs.linsen.blog